# macOS system files
.DS_Store

# Environment files
.venv
.env

# Specific files
output/
docs/
Session2/
Session3/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so